
/* src/components/App.css */

/* 应用全局样式 */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* 背景样式 */
.background-dollar {
  background-image: url('../assets/images/dollar-background-desktop.jpg'); /* 默认桌面背景图片 */
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .background-dollar {
    background-image: url('../assets/images/dollar-background-mobile.jpg'); /* 移动端背景图片 */
  }
}

/* 钱包连接按钮样式 */
.WalletConnectButton {
  background-color: #4CAF50; /* 提供一个明显的按钮颜色 */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* 按钮距离顶部的距离 */
  transition: background-color 0.3s ease;
}

.WalletConnectButton:hover {
  background-color: #45a049; /* 鼠标悬停时按钮的颜色 */
}

/* 签名模态框样式 */
.SignatureModal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 33%; /* 占屏幕宽度的三分之一 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 确保居中 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 添加阴影效果 */
  z-index: 10;
}

.SignatureModal p {
  margin-bottom: 20px;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .SignatureModal {
    width: 90%;
  }
}
